JWT_SECRET="hello"
API_KEY="hello"
USER_SERVICE_URL="https://user:3001"
POST_SERVICE_URL="https://post:3002"
CHAT_SERVICE_URL="https://chat:3003"
UPLOADFILE_SERVICE_URL="https://upload_file:3004"
MINIO_SERVICE_URL="https://minio:9000"
