DATABASE_URL="postgresql://postgres:password@database:5432/Post?schema=public"
USER_SERVICE_URL="https://user:3001"
UPLOAD_SERVICE_URL="https://upload_file:3004"
MINIO_URL="/api/v1/minio/"
JWT_SECRET="hello"
API_KEY="hello"